In [18]:
#Load Dependencies
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd

In [2]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager

In [32]:
#Initiate connection to test browser
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [C:\Users\schne\.wdm\drivers\chromedriver\win32\91.0.4472.101\chromedriver.exe] found in cache

## NASA Mars News

In [ ]:
url = 'https://redplanetscience.com/'
browser.visit(url)
html=browser.html
soup=bs(html,'html.parser')

In [19]:
#Scrape the [Mars News Site](https://redplanetscience.com/) 
#Collect the latest News Title and Paragraph Text. Assign the text to variables that you can reference later.
News_Title = soup.find_all('div', class_='content_title')[0].text
News_Title

"NASA's Perseverance Rover Goes Through Trials by Fire, Ice, Light and Sound"

In [21]:
#Collect the latest News Title and Paragraph Text. Assign the text to variables that you can reference later.
News_Paragraph = soup.find_all('div', class_='article_teaser_body')[0].text
News_Paragraph

"The agency's new Mars rover is put through a series of tests in vacuum chambers, acoustic chambers and more to get ready for the Red Planet."

In [28]:
browser.quit()

## JPL Mars Space Images

In [4]:
JPL_url = 'https://spaceimages-mars.com'
browser.visit(JPL_url)
html=browser.html
soup=bs(html,'html.parser')

In [14]:
#Use splinter to navigate the site and find the image url for the current Featured Mars Image and assign the url string to a variable called `featured_image_url`.
#Make sure to find the image url to the full size `.jpg` image.
#Make sure to save a complete url string for this image.
image_url = browser.find_by_tag("img[class='headerimage fade-in']")['src']
image_url

'https://spaceimages-mars.com/image/featured/mars3.jpg'

In [15]:
browser.quit()

## Mars Facts

In [17]:
Facts_url = 'https://galaxyfacts-mars.com'
browser.visit(Facts_url)
html=browser.html
soup=bs(html,'html.parser')

In [35]:
#Use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.
table = pd.read_html(Facts_url)
table[1]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [41]:
# Store Mars table as DF
facts_df = table[1]
facts_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [43]:
#Use Pandas to convert the data to a HTML table string.
table_html = facts_df.to_html()
table_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 ( Phobos &amp; Deimos )</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [30]:
browser.quit()

## Mars Hemishperes

In [33]:
Hemispheres_url = 'https://marshemispheres.com/'
browser.visit(Hemispheres_url)
html=browser.html
soup=bs(html,'html.parser')